.select {
  width: 200px!important;
  height: 30px;
  margin: 0px;
  margin-right: 5px;
  border-radius: 0px;
}
.input {
  display: inline-block;
  height: 30px;
  width: 200px!important;
  line-height: 30px;
  margin-right: 5px;
  border: 1px solid #ccc;
  color: #acacac;
  padding: 4px 6px;
  font-size: 14px;
}

.ant-form-item {
  margin-bottom: 0px!important;
}

.mt10 {
  margin-top: 10px;
}

.ab_tr{
  position: absolute;
  top: 0;
  right: 0;
}